backend/.idea
backend/users.json
backend/.openapi-generator
backend/src/main/java/dev/minitrello/adapters/input/rest/api
backend/src/main/java/dev/minitrello/adapters/input/rest/model
backend/.openapi-generator-ignore
backend/pom.xml
